body{
  margin: 0;
  min-height: 100vh;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}

*{
    box-sizing: border-box;
}

main{
    flex: 1;
    position: sticky;
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
}

aside{
    top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(221, 185, 138);
}

p{
    line-height: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-image{
    background-image: url(BG_Greens.webp);
    position: fixed;
    
    filter: blur(9px);
    transform: scale(1.1);

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-footer{
    background-color: rgb(226, 181, 122);
    padding: 25px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-family: Calibri;
    font-weight: 100;
    font-size: 10px;
}

.bg-head{
    background-color: rgb(221, 185, 138);
    width: 100%;
    padding: 0px 20px;
    text-align: left;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.section-start{
    text-align: center;
    padding: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/*Navigation Settings*/
nav a{
    text-decoration: none;
    color: black;
    margin: 10px ;
    font-size: 21px;
    font-weight: 600;
}

nav ul{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 6px;
}

.nav-buttons{
    display: block;
    background-color: rgb(184, 154, 115);
    margin-left:5px ;
    padding: 20px;
    font-size: large;
}

.profile-icon{
    display: flex;
    align-items: center;
    margin-left: auto;
}
/*Main Blog/Article Content*/
.post-card{
    display: block;
    border: 1px;
    border-radius: 10px;
    background-color: wheat;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.blog-container, .side-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    max-width: 1080px;
    margin: 0 auto;
}

.blog-container img{
    width: 100%;
    height: auto;
    display: block;
}
/*Logo Settings*/
.logo {
    display: flex;
    gap: 1px;
    align-items:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size:25px
}

.logo-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 2px;
}

.blog-header{
    border-bottom: 1px solid rgb(218, 213, 200);
    padding-bottom: 10px;
    margin-bottom: 24px;
    font-style: italic;
}

.top-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article-title{
    border-bottom: 1px solid rgb(194, 175, 141);
}

.post-link{
    text-decoration: none;
    color: black;
}

.author{
    font-style: italic;
    margin-top: 10px;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: start;
}

.blog-text{
    font-size: 20px;
    font-weight: lighter;
}